<!-- views/home.ejs -->
<!doctype html>
<html>
<head>
    <title>ProjectI</title>
    <%- include('partial/head', {}); %>
</head>
<body>
<%- include('partial/navbar', {user: user, url: url}); %>
<div class="container">
    

</div>



</body>

</html>
