<!-- views/home.ejs -->
<!doctype html>
<html>
<head>
    <title>ProjectI</title>
    <%- include('partial/head', {}); %>
</head>
<body>
<div class="container-fluid">
    <%- include('partial/navbar', {user: user, url: url}); %>

</div><!-- /.container-fluid -->



</body>

</html>
