<!doctype html>
<html>
<head>
    <title>ProjectI</title>
    <%- include('partial/head', {}); %>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container text-center">


    <h1><span class="fa fa-lock"></span> Messenger Login</h1>

    <p>Login or Register with:</p>

    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
   

</div>
</body>
</html>
