<!-- views/home.ejs -->
<!doctype html>
<html lang="en">
<head>
<title>ProjectI - profile page</title>
<%- include('partial/head', {}); %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="js/profile.js"></script>
<style>
	img.game-logo {
		padding-top: 10px;
		padding-bottom: 10px;
		width: 35%;
	}
	.panel-primary, .panel-primary>.panel-heading {
		background-color: #28292f;
		border-color: #28292f;
	}
	.panel-primary>.panel-heading:hover {
		background-color: #000000;
	}

	.table-striped>tbody>tr:nth-child(odd) {
	   background-color: #30384a;
	}
	body {
		background-color: #242d44;
	}
	body {
		color: white;
		min-width: 370px;
	}
	table {
		background-color: #272d35;
		border: 1px solid;
		border-color: white;
		/*border-radius: 26px;
	    -moz-border-radius: 26px;
	    -webkit-border-radius: 26px;*/
	    
	}
	.over-table {
		padding-left: 10px;
	    padding-right: 10px;
	}
	select option, select {
		background-color: #99aab5 !important;
		color: #000000 !important;

	}
	input {
		background-color: #99aab5 !important;
		color: #000000 !important;
	}
	button {
		background-color: #ff8d07;
		border-color: #ff8d07;
		border-radius: 26px;
	    -moz-border-radius: 26px;
	    -webkit-border-radius: 26px;
	}
	button:hover {
		background-color: #ffbf0c;
		border-color: #ffbf0c;

	}
	
	.more-history{
		width: 80%;
		margin: auto;
	}
	a {
		color: #ff8d07;
	}
	a:hover {
		color: white;
	}






	.grayscale {
	    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
	}

	.blur {
		-webkit-filter: blur(2px);
		filter: blur(2px);
	}

	.sepia {
		-webkit-filter: sepia(100%);
		filter:sepia(100%);
	}

	.red-border {
		border-color: red;
	}

	img.game-logo {
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100px;
	}

	img:hover {
		filter:opacity(30%);
		cursor: pointer;
	}
	img.active {
		filter:opacity(30%);
	}
	img.active:hover {
		filter:opacity(100%);
		cursor: pointer;
	}
	select {
		margin-bottom: 10px;
	}
	.add-games {
		display: none;
	}
	.add-games > div > button {
		padding: 8px;
		margin-bottom: 10px;
	}
</style>
	

</head>
<body>
<%- include('partial/navbar', {user: user, url: url}); %>
<div class="container">
	<div class="row">
		<div class="games col-xs-12 col-md-12">
			<img src="/img/Overwatch.png" alt="Overwatch" class="img-circle game-logo">
			<img src="/img/SplinterCellConviction.png" alt="Splinter Cell Conviction" class="img-circle game-logo">
			<img src="/img/HeroesOfTheStorm.png" alt="Heroes Of The Storm" class="img-circle game-logo">
			<img src="/img/Hearthstone.png" alt="Hearthstone" class="img-circle game-logo">

			<!--<img src=\"/img/'+ad.game.replace(/\s/g, '')+'.png\" alt=\"'+ad.game+'\" class=\"img-circle game-logo\">-->
			<img src="/img/add2.png" alt="add" class="img-circle game-logo add">
		</div>
	</div>
	<div class="add-games row">
		<div class="col-md-2">
			<select required class="form-control game">
				<option value="" disabled selected hidden>Game name</option>
				<option value="Overwatch">Overwatch</option>
			</select>
		</div>
		<div class="col-md-2">
			<select required class="form-control platform">
				<option value="" disabled selected hidden>Platform</option>
				<option value="PC">PC</option>
			</select>
		</div>
		<div class="col-md-2  col-xs-8 col-sm-10">
			<input type="text" class="form-control" name="nick">
		</div>
		<div class="col-xs-4 col-sm-2">
			<button class="glyphicon glyphicon-ok"></button>
			<button class="glyphicon glyphicon-remove"></button>
		</div>
	</div>
	<div class="row">
		<div class="over-table col-md-12 col-sm-12 col-xs-12 text-center">
			<table width="100%" class="table">
				<thead class="thead-inverse">
					<tr>
						<th class="text-center">Game</th>
						<th class="text-center">Nick</th>
						<th class="text-center">Platform</th>
						<th class="text-center">Region</th>
						<th class="text-center">Action</th>
					</tr>
					<tr>
						<td class="text-center">Overwatch</td>
						<td class="text-center">Felivian#1111</td>
						<td class="text-center">PC</td>
						<td class="text-center">EU</td>
						<td class="text-center">
							<button class="glyphicon glyphicon-plus"></button>
							<button class="glyphicon glyphicon-remove"></button>					
						</td>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="over-table col-md-8 col-sm-8 col-xs-12 text-center">
			<table width="100%" class="table">
				<thead class="thead-inverse">
					<tr> 
						<th class="text-center">Game</th>
						<th class="text-center">Mode</th>						
						<th class="text-center">Date</th>
						<th class="text-center">Action</th>		
					</tr>
					<tr class=""> 
						<td class="text-center">Overwatch</td>
						<td class="text-center">Competitive</td>
						<td class="text-center">2018-01-04</td>
						<td class="text-center">
							<button class="glyphicon glyphicon-plus"></button>
							<button class="glyphicon glyphicon-remove"></button>
							<button class="glyphicon glyphicon-info-sign"></button>
						</td>
					</tr>
					<tr class=""> 
						<td class="text-center">Overwatch</td>
						<td class="text-center">Competitive</td>
						<td class="text-center">2018-01-04</td>
						<td class="text-center">
							<button class="glyphicon glyphicon-plus"></button>
							<button class="glyphicon glyphicon-remove"></button>
							<button class="glyphicon glyphicon-info-sign"></button>
						</td>
					</tr>
					<tr class=""> 
						<td class="text-center">Overwatch</td>
						<td class="text-center">Competitive</td>
						<td class="text-center">2018-01-04</td>
						<td class="text-center">
							<button class="glyphicon glyphicon-plus"></button>
							<button class="glyphicon glyphicon-remove"></button>
							<button class="glyphicon glyphicon-info-sign"></button>
						</td>
					</tr>
					<tr class=""> 
						<td class="text-center">Overwatch</td>
						<td class="text-center">Competitive</td>
						<td class="text-center">2018-01-04</td>
						<td class="text-center">
							<button class="glyphicon glyphicon-plus"></button>
							<button disabled class="glyphicon glyphicon-remove grayscale"></button>
							<button class="glyphicon glyphicon-info-sign"></button>
						</td>
					</tr>
					<tr class=""> 
						<td class="text-center">Overwatch</td>
						<td class="text-center">Competitive</td>
						<td class="text-center">2018-01-04</td>
						<td class="text-center">
							<button class="glyphicon glyphicon-plus"></button>
							<button class="glyphicon glyphicon-remove"></button>
							<button class="glyphicon glyphicon-info-sign"></button>
						</td>
					</tr>
					<tr> 
						<td colspan="4" class="text-center"><button class="more-history">More</button></td>
					</tr>
				</thead>
			</table>
		</div>
		<div class="over-table col-md-4 col-sm-4 col-xs-12">
			<table width="100%" class="table">
				<thead class="thead-inverse">
					<tr>
						<th colspan="2" class="text-center">Info</th>
					</tr>
					<tr> 
						<td class="">Game</td> 
						<td class="text-center">Overwatch</td>
					</tr>
					<tr> 
						<td class="">Mode</td> 
						<td class="text-center">Competitive</td>
					</tr>
					<tr> 
						<td class="">Your group</td>
						<td class="text-center">2</td> 
					</tr>
					<tr> 
						<td class="">Maximum group</td> 
						<td class="text-center">6</td>
					</tr>
					<tr> 
						<td class="">Rank</td> 
						<td class="text-center">Platinum</td>
					</tr>
					<tr> 
						<td class="">Platform</td> 
						<td class="text-center">PC</td>
					</tr>
					<tr> 
						<td class="">Region</td> 
						<td class="text-center">EU</td>
					</tr>
					<tr> 
						<td class="">Start</td> 
						<td class="text-center">2018-01-04 18:53</td>
					</tr>
					<tr> 
						<td class="">End</td> 
						<td class="text-center">2018-01-04 18:53</td>
					</tr>
					<tr> 
						<td class="">Active</td> 
						<td class="text-center">No</td>
					</tr>
					<tr> 
						<td class="">Success</td> 
						<td class="text-center">Yes</td>
					</tr>
					<tr>
						<td class="">Players</td> 
						<td class="text-center">
							<a href="http://localhost:8080/profile/5a3fbdc366484b2058751dad">Felivian</a>
							<a href="http://localhost:8080/profile/5a3fbdc366484b2058751dad">Felivian</a>
							<a href="http://localhost:8080/profile/5a3fbdc366484b2058751dad">Felivian</a>
							<a href="http://localhost:8080/profile/5a3fbdc366484b2058751dad">Felivian</a>
							<a href="http://localhost:8080/profile/5a3fbdc366484b2058751dad">Felivian</a>
							<a href="http://localhost:8080/profile/5a3fbdc366484b2058751dad">Felivian</a>
						</td>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	



<!--<p id="loading">
	<img src="images/loading.gif" alt="Loading…" />
</p>-->
</div><!-- /.container-fluid -->

</body>

</html>