button.no-ads {
	margin: auto;
	display: none;
}
button.new-ads {
	display: none;
}
select {
	margin-bottom: 10px;
}
div.user-data {
	padding: 0px;

}
div.nick {
	padding: 0px;
}
div.user-ad-outer, .op {
	padding-left: 8px;
	padding-right: 8px;
}
a.nick {
	display: block;
	padding: 0px;
}
img.game-logo {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 35%;
}
div.user-data {
	padding-bottom: 10px;
}
.panel-primary, .panel-primary>.panel-heading {
	background-color: #28292f;
	border-color: #28292f;
}
.panel-primary>.panel-heading:hover {
	background-color: #000000;
}
div.user-ad-inner {
	padding: 0px;
	background-color: #404b62;
	color: white;
}
.table-striped>tbody>tr:nth-child(odd) {
   background-color: #30384a;
}
body {
	background-color: #242d44;
}
select option, select {
	background-color: #99aab5 !important;
	color: #000000 !important;

}
.grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
}
button.close {
	position: relative;
	float: left;
	top: 0;
	left: 0;
	background-color: red;
	color: white;
}
div.mobile-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0;
	background-color: #333;
	padding: 0;
	height: 40px;
}
ul.mobile-nav  {
	height: 100%;
	padding: 0;
}
ul.mobile-nav > li {
	display: inline-block;
	background-color: #333;
	height: 100%;
	line-height: 40px;
	color: white;

}
ul.mobile-nav > li.active {
	background-color: #080808;
}

.pick.fixed > .pick-data > table > thead {
	font-size: 12px;
	
}
.pick > .pick-data > table > thead > tr > th {
	padding-top: 4px;
	padding-bottom: 4px;
}
.picked-user > div, .picked-user > button {
	padding: 0px;
}
.picked-user {
	padding: 0px;
	border-radius: 10px;
	border: 2px solid #2c2c2f;
	background-color: #f4feff;
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
}
span.group {
	font-size: 20px;

}
.select-area,  .buttons {
	margin-bottom: 10px;
}
.buttons {
	padding-left: 30px;
	padding-right: 30px;
}
.buttons > button {
	border-color: #242d44;
	color: black;
}
.pick.fixed, button.picked.fixed {
	position: fixed;
	right: 20px;
	bottom: 10px;
}
div.pick.fixed {
	display: none;
	max-height: 60%;
	background-color: #2c2c2f;
	padding: 0px;
	bottom: 60px !important;
	overflow-y: hidden;
	color: white;
	border-radius: 10px;
}
div.mobile.pick {
	position: inherit;
	color: white;
	background-color: #404b62;
	border: 2px solid #2c2c2f;
	border-color: #28292f;
	border-radius: 10px;
	margin: 0;
}

.user-info {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}
.add-ad {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}
.user-ad-outer:hover .user-info {
	opacity: 0.3;
}
.user-ad-outer:hover .add-ad {
	opacity: 1 !important;
}
.select-area {
	color: white;
}
.red-border {
	border-color: red;
}
button.picked {
	border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}
.pick > button {
	margin-bottom: 10px;
}
.picked-users * a:hover {
	color:black;
}
div.row.info {
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 10px;
}
span.close {
	float: right;
}