img.game-logo {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 35%;
}
.panel-primary, .panel-primary>.panel-heading {
	background-color: #28292f;
	border-color: #28292f;
}
.panel-primary>.panel-heading:hover {
	background-color: #000000;
}

.table-striped>tbody>tr:nth-child(odd) {
   background-color: #30384a;
}
body {
	background-color: #242d44;
}
body {
	min-width: 370px;
}
table {
	background-color: #272d35;
	border: 1px solid;
	border-color: white;
  
}
.over-table {
	padding-left: 10px;
    padding-right: 10px;
}
select option, select {
	background-color: #99aab5 !important;
	color: #000000 !important;

}
div.container * input {
	background-color: #99aab5 !important;
	color: #000000 !important;
}
div.container * input::placeholder {
	color: #82838a !important;
}
div.container * a {
	color: #ff8d07;
}
div.container * a:hover {
	color: white;
}
.grayscale {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.red-border {
	border-color: red;
}

img.game-logo {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100px;
}
img.game-logo.add {
	filter:opacity(30%);
}
img.game-logo.add:hover {
	filter:opacity(100%);
}
img.game-logo.add.active {
	filter:opacity(100%);
}
img.game-logo.add.active:hover {
	filter:opacity(30%);
}

select {
	margin-bottom: 10px;
}
.add-games {
	display: none;
	margin-bottom: 10px;
}
.add-games > div > button {
	margin-bottom: 10px;
}
.table-striped>tbody>tr:nth-child(odd) {
	background-color: #2c3240;
}
thead > tr {
	background-color: #16191d;
}